{% capture root_url %}
{{ site.root | strip_slash }}
{% endcapture %}

<!doctype html>
<html lang="en" style="background: url(/images/{{ page.cover }}) no-repeat center center fixed; background-size: cover !important; background-color: black;">
{% include head.html %}
<body>
<a id="next" href="{{ page.nxt }}" class="hide"></a>
<script type="text/javascript">
  key('right', function(){
    window.open($("#next")[0].href, '_self', false);
  });
</script>
<div class='cover'>
    <div class='toc'>
        {{content}}
    </div>
    <div class='title'>
        <h1>{{ page.title }}&nbsp;&raquo;</h1>
    </div>
</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='assets/js/jquery-1.8.2.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
</html>