{% capture root_url %}
{{ site.root | strip_slash }}
{% endcapture %}

<!doctype html>
<html lang="en">
{% include head.html %}
<body class="wrapper">
<div id="lightbox"></div>
{% include paginate.html %}

<div class="anchor">
    <a href="/index">{{site.title}}</a>
    -
    <a href="/{{page.category}}/cover">{{page.category}}</a>
</div>


<div class="container">
    {{ content }}
</div>

<footer>
	<p class="copy">by ryan boucher</p>
</footer>

<div id="bottom-pages">
    {% include paginate.html %}
</div>

</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='assets/js/jquery-1.8.2.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
<script src="/javascripts/libs/image-zoom.js"></script>
</html>
