{% capture root_url %}
{{ site.root | strip_slash }}
{% endcapture %}

<!doctype html>
<html lang="en">
{% include head.html %}
<body>
	<div class="anchor">
        <a href="/index">the latest {{site.title}}</a>
    </div>
	<div class="index">
		{% assign stop = "false" %}
		{% for post in site.posts %}
			{% unless stop == "true" %}
				{% unless post.category == "cover" %}
					{% assign stop = "true" %}
					<section class="page">
						<article>
							{% if post.type == "article" %}
								<div class="container">
									<h1><a href="{{post.url}}">{{post.title}}</a></h1>
									{{post.excerpt}}
									<br/><br/>
									<a href="{{post.url}}">Continue reading?</a>
									<br/><br/>
									<div class="post-matter">
										<div class="publication-date">
											<span>
												<strong>when:</strong><small> {{post.date | date: "%A, %B %d, %Y" | downcase }}</small>
											</span>
										</div>
										<div class="copy posted-under">
											<span>
												<strong>where:</strong> {{post.category}}
											</span>
										</div>
									</div>
								</div>
							{% else %}
								<h1><a href="{{post.url}}">{{post.title}}</a></h1>
								<div class="index-article">
									{{ post.content }}
									<div class="publication-date">
										<span>
											<strong>when: </strong><small>{{post.date | date: "%A, %B %d, %Y" | downcase }}</small>
										</span>
									</div>
									<div class="copy posted-under">
										<span>
											<strong>where:</strong> {{post.category}}
										</span>
									</div>
								</div>
							{% endif %}
						</article>
					</section>
				{% endunless %}
			{% endunless %}
		{% endfor %}
		<article>
			<div class="more-from">
				<p class="leader">elsewhere</a></p>
				{% for more in site.categories.cover %}
					<div class="thumb">
						<a href="{{more.url}}">
							<img src="{{more.thumb}}"></img>
							<p class="cover-title">{{ more.title }}</p>
						</a>
					</div>
				{% endfor %}
			</div>
		</article>
		<footer>
			<p class="copy">by ryan boucher</p>
		</footer>
	</div>
</body>
<script type="text/javascript">
  key('right', function(){
    window.open($("#next")[0].href, '_self', false);
  });
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='assets/js/jquery-1.8.2.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
</html>