{% capture root_url %}
{{ site.root | strip_slash }}
{% endcapture %}

<!doctype html>
<html lang="en">
{% include head.html %}
<body>
	<nav class="issues">
        <ul class="clearfix topic-anchor">
            <li class="active"><a href="/index">{{site.title}}</a></li>
            <li class="active"><a href="/index">forth</a></li>
            <li class="active"><a href="/index">what</a></li>
            <li class="active"><a href="/index">seen</a></li>
        </ul>
    </nav>
	<div class="cover-lead">
		{% for post in site.categories.cover %}
			<div class="lead-item">
				<a href="{{post.url}}">
					<img src="/images/{{post.title}}/cover.jpg"></img>
					<p class="cover-title">{{ post.title }}</p>
				</a>
			</div>
		{% endfor %}
	</div>
	<div id="lightbox"></div>
	<div class="index">
		{% for post in site.posts %}
			{% unless post.category == "cover" %}
				<h1><a href="{{post.url}}">{{post.title}}</a> <a class="region" href="/{{post.category}}/cover">{{ post.category }}</a></h1>
				<section class="page">
					<article>
						<div class="article-body">{{ post.content }}</div>
					</article>
				</section>
				<p class="article-break">⁂</p>
			{% endunless %}
		{% endfor %}
	</div>
</body>
<script type="text/javascript">
  key('right', function(){
    window.open($("#next")[0].href, '_self', false);
  });
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='assets/js/jquery-1.8.2.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
</html>