{% capture root_url %}
{{ site.root | strip_slash }}
{% endcapture %}

<!doctype html>
<html lang="en">
{% include head.html %}
<body>
	<div class="anchor">
        <a href="/index">{{site.title}}</a>
    </div>
	<div class="index">
		{% assign stop = "false" %}
		{% for post in site.posts %}
			{% unless stop == "true" %}
				{% unless post.category == "cover" %}
					{% assign stop = "true" %}
					<h1><a href="{{post.url}}">{{post.title}}</a></h1>
					<section class="page">
						<article>
							<div class="index-article">
								{{ post.content }}
								<div class="publication-date">
									<span><strong>published:</strong> {{post.date | date: "%A, %B %d, %Y" | downcase }}</span>
								</div>
							</div>
						</article>
					</section>
				{% endunless %}
			{% endunless %}
		{% endfor %}
		<article>
			<div class="more-from">
				<p class="leader">elsewhere</a></p>
				{% for more in site.categories.cover %}
					<div class="thumb">
						<a href="{{more.url}}">
							<img src="{{more.thumb}}"></img>
							<p class="cover-title">{{ more.title }}</p>
						</a>
					</div>
				{% endfor %}
			</div>
		</article>
		<footer>
			<p class="copy">by ryan boucher</p>
		</footer>
	</div>
</body>
<script type="text/javascript">
  key('right', function(){
    window.open($("#next")[0].href, '_self', false);
  });
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='assets/js/jquery-1.8.2.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
</html>